body {
    /* background: 'rgba(0, 0, 0, 0.5)'; */
    background: linear-gradient(0deg, rgba(10, 10, 10, 0.6), rgba(8, 8, 8, 0.6)), url('../img/bg.jpg');
    background-size: cover;
    /* background-image: url("./img/bg.jpg"); 
    background-size: cover;
    opacity:0.9; 
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay; */
     /* background-color: #5a5f66;
    filter: blur(18px);
    -webkit-filter: blur(); */
     
  }